.videoPage {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoPage__Player {
  width: 1200px;
  height: 700px;
  margin-top: 20px;
  border: 3px solid black;
}

.videoPage__ReactPlayer {
  width: 100%;
  height: 100%;
  /* box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3); */
}

.videoPage__PlayerInfo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoPage__PlayerInfo > span {
  margin-left: 750px;
}
.videoPage__PlayerInfo > span > small:hover {
  color: red;
  cursor: pointer;
}
.icon {
  margin: 5px;
}
.icon:hover {
  color: red;
  cursor: pointer;
}
.videoPage__ProfileInfo {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.videoPage__ProfileInfo > span {
  display: flex;
  margin-left: 850px;
}
.videoPage__ProfileInfo > span > button {
  color: white;
  background-color: #cc0000;
  width: 115px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}

.videoPage__ProfileInfo > span > button:hover {
  cursor: pointer;
}

.videoPage__ShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.videoPage__ShowMore:hover {
  cursor: pointer;
  color: red;
}

.videoPage__Player > p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .videoPage__CommentInput {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
} */
