.comment {
  margin-top: 50px;
}

.comment > span {
  display: flex;
}

.comment > span > h5 {
  margin-left: 5px;
}

.comment > span > small {
  margin-left: 5px;
}

.comment > p {
  margin-left: 40px;
}

.videoPage__CommentInput > span {
  display: flex;
  margin-left: 820px;
}
.videoPage__CommentInput > span > button {
  height: 35px;
  width: 125px;
  background-color: grey;
  color: black;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.1);
}
